@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "We love to bake";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bob's Bakery provides world class breads and pasteries, baked with love from locally sourced ingredients. Family owned and operated since 2018.</p>
<p>You can see a list of our amazing baked goods on our @Html.ActionLink("products page", "Index", "Products")</p>
<p>If you are ready, visit our order form</p>
