@{
    ViewBag.Title = "Contact us";
    ViewBag.Message = "We want to know what you think of our baked goods!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Bob's Bakery<br />
   Seattle, WA 98116<br />
    <abbr title="Phone">Phone:</abbr>
    206.123.4567
</address>

<address>
    <strong>Customer Support:</strong>   <a href="mailto:Support@example.com">bobbakes@example.com</a><br />
</address>