body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("Images/Cafe-Bread-1280.jpg");
    min-height: 30em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.navbar {
    background-color:antiquewhite;
}

h1, h2, h3, p, label, th, td, address{
    color:antiquewhite;
}

div.jumbotron h1 {
    color: antiquewhite;
}

table, div.jumbotron, address, form {
    background-color: saddlebrown;
}

a:link, a:visited {
    color: white;
}

a:active a:hover {
    color: yellow;
}

form {
    padding: 2em;
}

div#receipt h2, div#receipt h3 {
    color: darkgreen;
}

h3#homelink {
    color: darkgreen;
    background-color: saddlebrown;
    width: 100px;
    padding: .5em;
    margin: .5em auto;
} 

div#receipt {
    background-color: ivory;
    padding: 2em;
    width: 960px;
    margin: 2em auto;
}

div#receipt p {
        font-size: 1.5em;
        color: darkgreen;
    }

table#receipt-detail {
    background-color: ivory;
    width: 640px;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.5em;
    color: darkgreen;
}

table#receipt-detail td {

    padding: .5em;
    color: darkgreen;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

