@model BakerySite.Models.Person

@{
    ViewBag.Title = "Index";
}


<h2>Logout</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h3>Are you sure you want to leave?</h3>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Logout" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




